.article {
    width: 60%;
    min-height: 500px;
    margin-top: 20px;
}

.article h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.article p {
    margin: 10px;
}

.article hr {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 2px;
    background: #2d375f;
}

.article ul {
    margin-top: 15px;
    margin-bottom: 15px;
}

.article li {
    margin-left: 25px;
    margin-bottom: 15px;
}

.article a{
    margin-left: 3px;
    margin-right: 3px;
}

.article img {
    max-width: 100%;
}