* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f0f0f0;
}

::-moz-selection {
    color: #fff;
    background: #000;
}

::selection {
    color: #fff;
    background: #000;
}

a {
    text-decoration: none;
    color: black;
    border-bottom: 1px dotted #000;
}

a:hover {
    border-bottom: 1px solid #000;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.head {
    width: 100%;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 10px;
}

.head .menu {
    width: 60%;
    height: 100%;
    background-color: white;
    -webkit-box-shadow: 2px 2px 2px gray;
    box-shadow: 2px 2px 2px gray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* size30 圆形 */
.avatar-30 {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

/* 按钮项 */
.head .menu a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
    width: 100px;
    height: 100%;
    text-decoration: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: black;
    border: 0;
}

/* 按钮项 选中 */
.head .menu [selected] {
    color: white;
    background-color: #969baf;
}

/* 按钮项 选中 */
.head .menu a:hover {
    color: white;
    background-color: #969baf;
}

/* 清除浮动 */
.clear {
    clear: both;
}

/* 内容 */
.content {
    width: 60%;
    padding-bottom: 50px;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: white;
    -webkit-box-shadow: 2px 2px 2px gray;
    box-shadow: 2px 2px 2px gray;
}

.content .post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.content .post .title {
    margin-top: 20px;
    font-size: 1.3em;
    font-weight: bold;
}

.content .post .message {
    margin-top: 20px;
    font-size: 1.1em;
}

.width-75 {
    width: 75%;
}

.width-100 {
    width: 100%;
}

.content-article-list {
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.content-article-list .title {
    width: 70%;
    padding: 0 30px 3px 30px;
    margin: 6px 0;
    font-size: 1.5em;
    line-height: 1.2em;
    border-bottom: 1px solid #000;
}

.content-article-list .article-list {
    width: 100%;
    min-height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.content-article-list .article-list .item {
    width: 70%;
    padding: 0 30px 3px 30px;
    margin: 6px 0;
    line-height: 1.5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


.content-article-list .article-list .item a {
    word-wrap: break-word;
}

.content-article-category {
    width: 25%;
    padding-top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.content-article-category .title {
    width: 80%;
    font-size: 1.2em;
    margin: 6px 0;
}

.content-article-category .item {
    width: 80%;
    margin: 6px 0;
}

.content-article-category-row {
    width: 70%;
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.content-article-category-row .title {
    font-size: 1.5em;
    margin: 0 20px 15px 0;
}

.content-article-category-row .item {
    font-size: 1.2em;
    margin: 0 20px 15px 0;
}

.pagination {
    margin-top: 20px;
}

.pagination a {
    margin-top: 20px;
    margin-right: 5px;
    font-size: 1.15em;
}

.pagination a[display] {
    border: 0;
}

.pagination a[selected] {
    border: 0;
    color: gray;
}

/* 内容 */
.bottom {
    width: 60%;
    padding: 10px 0 10px 0;
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    font-size: 12px;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: white;
    -webkit-box-shadow: 2px 2px 2px gray;
    box-shadow: 2px 2px 2px gray;
}