<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>友情链接</title>
    <link rel="stylesheet" type="text/css" href="style/style.css"/>
</head>
<body>
<div class="head">
    <div class="menu">
        <a href="/">
            <div style="margin-right: 10px">
                <img class="avatar-30" src="/avatar.jpg">
            </div>
            主页
        </a>
        <a href="/articles">文章</a>
        <a href="tags">分类</a>
        <a selected href="#">友链</a>
        <!--<blog.properties href="about.html">关于</blog.properties>-->
        <div class="clear"></div>
    </div>
</div>
<div class="content">
    <div class="post">
        <div class="title">
            暂时还没有友链
        </div>
        <div class="message">
            添加友链请发送电子邮件到 <a href="mailto:actar676309180@gmail.com?subject=添加友链">actar676309180@gmail.com</a>
        </div>
    </div>
</div>
<div th:replace="include/record.html"></div>
</body>
</html>