<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>分类标签</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}"/>
</head>
<body>
<div class="head">
    <div class="menu">
        <a href="/">
            <div style="margin-right: 10px">
                <img class="avatar-30" th:src="@{/avatar.jpg}">
            </div>
            主页
        </a>
        <a th:href="@{/articles}">文章</a>
        <a selected href="#">分类</a>
        <a th:href="@{links.html}">友链</a>
        <!--<a href="about.html">关于</a>-->
        <div class="clear"></div>
    </div>
</div>
<div class="content width-60">
    <div class="content-article-category-row">
        <div class="title">
            Tags:
        </div>
        <!--/*@thymesVar id="tags" type="java.util.List<java.lang.String>"*/-->
        <div th:each="tag:${tags}" class="item">
            <a th:text="${tag}" th:href="@{'/tags/'+${tag}}">Java</a>
        </div>
    </div>
</div>
</body>
</html>